* {
    box-sizing: border-box;
    margin: 0;
    max-width: 375px;
    font-family: "Be Vietnam";


}

header section{
    background-color:aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
h1{
    font-size: 42px;
    color: #232C50;
    padding: 8px;
    text-align: center;
}
main article{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    border: red solid 1px;
}
article p{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: #232C50;
}
button{
    width: 134px;
    height: 44px;
    background-color:#F3603B;
    border-radius: 50px;
    
}
article h2{
    font-size: 36px;
    color: #232C50;
    padding: 8px;
    text-align: center;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: 42px;
    gap: 20px;
    padding: 60px 35px;
    text-align: center;
    background-color:#F3603B;
    color: #FFFFFF;
}
.botonInvertido{
    width: 134px;
    height: 44px;
    color: #F3603B;
    background-color:#FFFFFF;
    border-radius: 50px;
    
}

/* .subtitulo{
    
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 15px;
    border: solid red 1px;
    width: 100%;
    background-color:  rgba(242, 95, 58,0.15);
} */

.subtitulo{
    position: relative;
    width: 100%;
    border: green solid 1px;
}
.elipse{
    position: absolute;
    background-color:#F3603B;
    color: #FFFFFF;
    right: 85%;
    border-radius: 50px;
    padding: 0 10px;
}
h3{
    /* width: 100%; */
    margin-left: 30px;
    padding: 0 0 0 40px;
    color: #232C50;
    
    /*Intente cargar el color naranja claro pero me queda muy blanco*/
    /* background-color: rgb(255, 239, 234); */
    /*por eso se selecciona un color de fondo con 15% de opacidad*/
    background-color:  rgba(242, 95, 58,0.15);
}

.chusmerio{
    padding: 40px 0 60px 0;
}
.nombre{
    border: solid yellow 1px;
    padding: 30px 0;
    /* width: 100%; */
    margin-left: 0;
    background-color: #FFFFFF;
}
.nombreParrafo{
    padding: 0px 40px;
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-content: space-around;
    align-items:center;
    background-color: rgb(29, 30, 37);
    padding: 30px 20px;
    gap: 35px;
}
.search{
    border-radius: 50px;
    width: 228px;
    height: 44px;
    background-color: #FFFFFF;
    
}

.botonGo{
    background-color:#F3603B;
    width: 67px;
    height: 44px;
    border-radius: 50px;
}
/* Asi me gusta mas como quedan los links del footer con About us al medio */
nav ul{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
   
    gap: 30px;
    
}
/* Aca esta comentado como queda si preferimos la version oficial con about Us a la izq 
*/
/* nav ul{
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    
    padding: 30px 0 30px 30px;
    gap: 20px
} */




nav ul li{
    font-size: 18px;
    /* padding: 30px 0 30px 30px; */
    
    width: 120px;

}
a{
    text-decoration: solid;
}
a:link{
    color: #FFFFFF;
}
a:visited{
    color: #FFFFFF;
}

.redesSociales{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}


.unDiv{
    /* display: block; */
    display: inline-block;
    background-color: brown;
    width: 175px;
    transition: width 4s,opacity 4s, margin 4s ;
}
header .otroDiv{
    /* display: block; */
    display: inline-block;
    background-color: blue;
    width: 175px;
    transition: width 4s,opacity 4s, margin 4s ;
}
 header div:hover{
    width: 100px;
    opacity: 0;
    margin-right: 100px;
} 
