* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Be Vietnam";
}
body{
    background-color: #FFFFFF;
}
header section{
    display: flex;
    justify-content: space-between;
    padding: 10%;
    align-items: center;
}
h1{
    font-size: 42px;
    color: #232C50;
    padding: 8px;
    text-align: center;
}
main article{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.lema>img{
    width: 100%;
}
.lema>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article p{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: #232C50;
}
button{
    color: white;
    border: none;
    width: 134px;
    height: 44px;
    background-color:#F3603B;
    border-radius: 50px;
    transition: box-shadow 1s, opacity 1s;
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
}
.botonInvertido{
    width: 134px;
    height: 44px;
    color: #F3603B;
    background-color:#FFFFFF;
    border-radius: 50px;
    border: none;
    transition: color 1s;
}

.botonInvertido:hover{
    background-color:#FFFFFF;
    color:rgba(242, 97, 59, 0.5) ;
    opacity: 1;
}
article h2{
    font-size: 36px;
    color: #232C50;
    padding: 8px;
    text-align: center;
}
aside{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: 42px;
    gap: 20px;
    padding: 60px 35px;
    text-align: center;
    background-color:#F3603B;
    color: #FFFFFF;
}

/* .subtitulo{
    
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 15px;
    border: solid red 1px;
    width: 100%;
    background-color:  rgba(242, 95, 58,0.15);
} */

.subtitulo{
    position: relative;
    color: #323851;
    width: 100%;
}
.elipse{
    position: absolute;
    background-color:#F3603B;
    color: #FFFFFF;
    right: 88%;
    border-radius: 50px;
    padding: 0 10px;
}
h3{
    /* width: 100%; */
    margin-left: 30px;
    padding: 0 0 0 40px;
    color: #232C50;
    
    /*Intente cargar el color naranja claro pero me queda muy blanco*/
    /* background-color: rgb(255, 239, 234); */
    /*por eso se selecciona un color de fondo con 15% de opacidad*/
    background-color:  rgba(242, 95, 58,0.15);
}

.chusmerio{
    padding: 40px 0 60px 0;
}
.nombre{
    padding: 30px 0;
    /* width: 100%; */
    margin-left: 0;
    background: #FAFAFA;
}
.nombreParrafo{
    padding: 0px 40px;
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-content: space-around;
    align-items:center;
    background-color: rgb(29, 30, 37);
    padding: 30px 20px;
    gap: 35px;
}
.search{
    border-radius: 50px;
    width: 228px;
    height: 44px;
    background-color: #FFFFFF;
    
}

.botonGo{
    color: #FFFFFF;
    background-color:rgba(243, 96, 59, 1);
    width: 67px;
    height: 44px;
    border-radius: 50px;
    border: none;
    transition: background-color 1s;
}
.botonGo:hover{
    cursor: pointer;
    background-color: rgba(249,143,117,255);
}
/* Asi me gusta mas como quedan los links del footer con About us al medio */
footer nav ul{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
   
    gap: 30px;
    
}
/* Aca esta comentado como queda si preferimos la version oficial con about Us a la izq 
*/
/* nav ul{
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    
    padding: 30px 0 30px 30px;
    gap: 20px
} */




nav ul li{
    font-size: 18px;
    /* padding: 30px 0 30px 30px; */
    
    width: 118px;

}

header a{
    color: #242E52;
}
header a:visited{
    color: #242E52
}
header a:hover{
    color:rgba(36, 46, 82, 0.5);
   
}
a{
    text-decoration: none;
    transition: color 1s, filter 0.5s;
}

footer a:visited{
    color: #FFFFFF;
}

footer a:hover {
    color: #F3603B;   
    
}
footer>section>div>nav>a:hover{
    filter: invert(54%) sepia(18%) saturate(5127%) hue-rotate(334deg) brightness(95%) contrast(105%);
    
}
.redesLogo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5.2vw;
    align-items: center;
}
.redesSociales{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}





.circulitos{
    margin-bottom: 20px;
    color: #F3603B;
}
.soloDesktop{
    display: none;
}
.desktopHeaderNav ul{
    display: none;
}
.desktopButton{
    display: none;
}
@media (min-width:1100px){
    .hamburguesa {
        display: none;
    }

    .desktopHeaderNav ul {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 382px;
        color: #232C50;
        /* border: red 1px solid; */
        list-style: none;

    }
    .desktopHeaderNav ul li{
        font-size: 13px;
    }
    .desktopButton{
        display:block;
        
    }

    header section {
        padding: 75px 190px;
        /* gap: 30px;     */
    }

    .lema{
        /* padding: 30px 0;
        display: flex; */
        flex-direction: row-reverse;
        
        /* gap:10px;
        align-items: center;
        border: red solid 1px; */
        padding: 0 11.5% 0 11.5%;
        gap: 9%;
        
    }

    .lema>div{
        /* display: flex; */
        /* padding: 10%; */
        /* gap: 111px; */
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    .lema>div>h1{
        font-size: 58px;
        padding: 0;
        text-align: start;
    }
    .lema>div>p{

        font-size: 20px;
        padding: 28px 0 40px;
        text-align: start;
    }

    .lema>img{
        width: 50%;
    }
    .beneficios{
        flex-direction: row;

        align-items:baseline;

        padding: 5% 13% 5% 11.5%;
        gap: 08.66%;
    }
    .beneficioGeneral>h2{
        text-align: start;
        padding: 0;
        
    }
    .beneficioGeneral>p{
        text-align: start;
        padding: 36px 96px 0 0;
    }

    .listadoBeneficios>div>p{
        color: #B9B9C1;
    }
        
    .subtitulo{
    }
    h3{
        color: #323851;
        background: #FFFFFF;
        margin-left: 8.4%;
    }
    .listadoBeneficios>div>p{
        text-align: start;
        margin-left: 13%;
        margin-bottom: 4%;
    }
    .soloDesktop{
        display: flex;
    }
    .ellosDicen{
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        margin: 0 31px 75px 31px;
    }

    aside{
        margin-top: 180px;
        flex-direction: row;
        gap:37.4% 45%;
        padding: 4% 12%;

    }
    aside>p{
        text-align: start;
    }
    footer section{
        flex-direction: row;
        gap: 4%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 69px 12%;
    }
    .redesSociales{
        order: 2;
        width: 150px;
        gap: 4%;
        /* left: 8%; */
        /* justify-self: flex-start; */
    }
    .redesLogo{
        order: -2;
        width: 28%;
        /* justify-content: flex-start; */
        align-items: flex-start;
    }
    
    footer section nav ul {
        order: -1;
        width: 400px;
        padding: 0;
        gap: 15px;
    }
    footer section nav li{
        width: 180px;
    }
    small{
        color: #8C8C94;
        position: absolute;
        text-align: right;
        left: 72.4%;
        margin-top: 140px; 
    }
    .formulariesky{
        order: 2;
        width: 33%;
    }
    .circulitos{
        display: none;
    }
}